.articles {
  padding-top: 50px;
  position: relative;
  z-index: 1;
  padding-bottom: 135px;
}

.articles::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 268px;
  top: 0;
  display: block;
  background-color: #d4af5e;
  z-index: -1;
}

.articles__title {
  margin-bottom: 45px;
}

.articles__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articles--light {
  padding-bottom: 70px;
}

.articles--light::before {
  display: none;
}

.articles--light .articles__title {
  margin-bottom: 15px;
}

.articles--light .articles__subtitle {
  margin: 0;
  margin-bottom: 50px;
}

.articles--light .announcement {
  max-width: 350px;
  margin-left: 0;
}

.articles--light .announcement__image {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  max-width: 100%;
}

.articles--light iframe {
  max-width: 100%;
}

.articles--light .announcement__link::after {
  display: none;
}
