.benefits {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    max-width: 255px;
    margin-bottom: 25px;
    margin-left: 20px;
    position: relative;
    padding-top: 60px;
    color: #ffffff;
  }

  &__icon {
    max-width: 43px;
    margin-bottom: 27px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
  }

  &__text {
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
  }

}
