.card-promo {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  max-width: 252px;
  border-left: 15px solid #f2f2f2;
  border-top: 15px solid #f2f2f2;
  margin-bottom: 35px;
}

.card-promo__link {
  text-decoration: none;
}

.card-promo__title {
  color: #000000;
  padding-left: 25px;
  margin: 0;
}

.card-promo__picture {
  margin-bottom: 15px;
}
