.filter-list__type {
  margin-bottom: 45px;
}

.filter-list__type--min {
  margin-bottom: 20px;
}

.filter-list__title {
  margin: 0;
  font-size: 24px;
  margin-bottom: 26px;
}

.filter-list__label {
  max-width: 100%;
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 15px;
  font-weight: 700;
}

.filter-list__check {
  display: none;
}

.filter-list__label {
  position: relative;
  font-size: 12px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  color: #000000;
  margin-bottom: 10px;
  padding-left: 37px;
}

.filter-list__label--check::before {
  content: "";
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/icons/checkbox-off.png");
}

input[type="checkbox"]:checked + label::before {
  content: "";
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/icons/checkbox-on.png");
}

.filter-list__select {
  border: none;
  max-width: 100%;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 26px;
}

.filter-list__button {
  padding: 18px 27px;
  background-color: #d4af5e;
  border: 4px solid #ffffff;
  max-width: 190px;
  width: 100%;
  font-weight: 700;
  color: #000000;
}
