.menu-control {
  display: none;
  margin-left: 25px;
}

.menu-control__button {
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.menu-control__button {
  max-width: 45px;
  z-index: 1000 !important;
}

#nav-icon {
  width: 35px;
  height: 40px;
  position: relative;
  padding: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: 0;
  overflow: hidden;
  line-height: 100%;
  background-color: transparent;
}

.desktop-hide {
  display: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d4af5e;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 10px;
}

#nav-icon span:nth-child(2) {
  top: 20px;
}

#nav-icon span:nth-child(3) {
  top: 30px;
}

#nav-icon:active,
#nav-icon:focus,
#nav-icon:hover {
  border: 0;
  outline: 0;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}
