.reviews {
  background-color: #f0f0f0;
  padding: 95px 0 195px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.reviews__wrapper {
  position: relative;
}

.reviews__title {
  margin: 0;
  margin-bottom: 40px;
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__item {
  max-width: 350px !important;
  width: 100% !important;
}

.swiper-pagination-bullet-active {
  background-color: #d4af5e;
  position: relative;
}

.swiper-pagination-bullet-active::before {
  content: "";
  background-color: #d4af5e;
  opacity: 0.3;
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  top: -70%;
  left: -70%;
}

.swiper-pagination-bullet {
  margin: 0 16px !important;
}

.reviews__pagination {
  position: absolute;
  bottom: -85px !important;
}
