.seo-block {
  padding: 45px 0 105px;
}

.seo-block img {
  float: left;
  padding: 0 20px 10px;
  padding-left: 0;
}

.seo-block .title {
  margin-bottom: 2rem;
}

.seo-block--about {
  padding-bottom: 40px;
}

.seo-block--about .seo-block__picture {
  margin-top: -100px;
  padding-right: 50px;
}

.seo-block--about p {
  margin-bottom: 2rem;
}
