.advantages {
  color: $black;
  margin-top: 32px;
  padding-bottom: 26px;
  padding-left: $wrap;
  padding-right: $wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, min-content);
    padding-left: $wrap-tablet;
    padding-right: $wrap-tablet;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, min-content);
    padding-left: $wrap-desktop;
    padding-right: $wrap-desktop-right;
    padding-top: 65px;
  }
}

.advantages__title {
  @media (min-width: $tablet-width) {
    grid-column: 1/5;
    grid-row: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/7;
    grid-row: 1;
    margin: 0;
    padding-top: 22px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 83px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/5;
    grid-row: 2;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/6;
    grid-row: 2;
    margin-top: 13px;
  }
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  position: relative;
  margin-top: 83px;

  @media (min-width: $tablet-width) {
    /*width: 45%;*/
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 83px;
  position: absolute;
  top: -51px;
  left: 6px;

  @media (min-width: $tablet-width) {
    height: 111px;
  }
}

.advantages__item--eco {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 1;
  }

  &::before {
    background-image: url(".././img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    top: -53px;
    left: 8px;

    @media (min-width: $tablet-width) {
      top: -55px;
      left: 9px;
      height: 37px;
    }
  }
}

.advantages__item--style {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 2;
    margin-top: 111px;
  }

  &::before {
    background-image: url(".././img/icon-feature-money.svg");
    background-repeat: no-repeat;
    top: -53px;
    left: 3px;

    @media (min-width: $tablet-width) {
      top: -54px;
      left: 1px;
    }
  }
}

.advantages__item--like {
  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 3;
    margin-top: 111px;
  }

  &::before {
    background-image: url(".././img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    top: -48px;
    left: 10px;

    @media (min-width: $tablet-width) {
      top: -50px;
      left: 8px;
    }
  }
}

.advantages__item--love {
  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 1;
  }

  &::before {
    background-image: url(".././img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    top: -51px;
    left: 3px;

    @media (min-width: $tablet-width) {
      top: -52px;
      left: 3px;
    }
  }
}

.advantages__item--native {
  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 2;
    margin-top: 111px;
  }

  &::before {
    background-image: url(".././img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    left: -6px;

    @media (min-width: $tablet-width) {
      top: -51px;
      left: -5px;
    }
  }
}

.advantages__item--gift {
  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 3;
    margin-top: 111px;
  }

  &::before {
    background-image: url(".././img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    top: -53px;
    left: 3px;

    @media (min-width: $tablet-width) {
      top: -53px;
      left: 2px;
    }
  }
}
