.basket__ico {
  display: block;
  position: absolute;
  top: 35px;
  left: 30px;
  color: rgba($black, 0.2);
}

.basket__link {
  color: $black;
  font-weight: 700;
  text-decoration: none;
  padding-left: 46px;

  &:hover .basket__ico {
    color: $tiffany;
  }

  &:focus .basket__ico {
    color: rgba($tiffany, 0.3);
  }

  @media (min-width: $desktop-width) {
    padding-left: 47px;
  }
}

.basket {
  position: relative;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: $wrap;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-top: 33px;
    padding-bottom: 31px;
  }
}
