.benefit-card {
  padding: 26px;
  padding-bottom: 180px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  transition: all .3s ease-in-out;
}

.benefit-card--2 {
  background-color: #484646;
  color: #ffffff;
}

.benefit-card--3 {
  background-color: #484646;
  color: #ffffff;
}

.benefit-card--3 .benefit-card__image {
  filter: brightness(65%);
}

.benefit-card--4 {
  background-color: #c6c6c6;
}

.benefit-card__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.benefit-card__title,
.benefit-card__text {
  margin: 0;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
  line-height: 130%;
}

.benefit-card__title {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;

}

.benefit-card:hover::after {
  content: "";
  background: linear-gradient(180deg, #d4af5e 33.85%, rgba(212, 175, 94, 0) 100%);
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.benefit-card:hover .benefit-card__title,
.benefit-card:hover .benefit-card__text {
  color: #000000;
}
