.bow::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: -22px;
    background-image: url(".././img/bg-zigzag-fill.svg");
    background-position-x: 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    background-size: 1150px;
    height: 38px;
    background-repeat: repeat no-repeat;
    background-position: center;
  }
}

.bow--index::after {
  @media (min-width: $desktop-width) {
    background-size: 1250px;
    background-position: center;
    bottom: -18px;
    background-repeat: repeat no-repeat;
  }
}
