.category-nav {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: $wrap-tablet;
    padding-right: $wrap-tablet;
  }

  @media (min-width: $desktop-width) {
    padding-left: $wrap-desktop;
    padding-right: $wrap-desktop-right;
  }
}

.category-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.category-nav__item {
  position: relative;

  &:hover .category-nav__item-ico {
    color: rgba($ico, 0.7);
  }

  &:active .category-nav__item-ico {
    color: rgba($ico, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 50%;

    &:hover {
      top: -5px;
      transform: scaleY(1.05);
    }
  }
}

.category-nav__item-link {
  display: flex;
  width: 100%;
  color: $white;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    padding-top: 26px;
    padding-bottom: 34px;
  }
}

.category-nav__item-ico {
  color: rgba($ico, 0.5);
  position: absolute;
  right: 37px;
  top: 29px;
}

.category-nav__item--interior {
  background-color: $tiffany;

  &:hover {
    background-color: $nav-menu-hover;
  }
}

.category-nav__item--toys {
  background: $dark-tiffany;

  &:hover {
    background-color: $ligth-tiffany;
  }
}

.category-nav__item-text {
  max-width: 100px;
}
