.consultant {
  padding: 40px 0 125px;
  background-color: #f0f0f0;
  color: #000000;
}

.consultant--white {
  background-color: #ffffff;
  padding: 55px 0 160px;
}

.consultant__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.consultant__image-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 730px;
  width: 100%;
}

.consultant__picture {
  max-width: 530px;
  max-height: 358px;
  top: -100px;
  position: absolute;
  left: -23%;
}

.consultant__title {
  max-width: 415px;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-right: 0;
  margin-left: auto;
  padding-left: 40px;
}

.consultant__text-wrapper {
  max-width: 350px;
}

.consultant__text {
  margin-bottom: 45px;
  padding-top: 10px;
}

.consultant__button {
  max-width: 295px;
  margin: 0;
  padding: 20px 30px;
}
