.content-area {
  background-color: #f0f0f0;
  color: #000000;
  padding: 60px 0 100px;
}

.content-area--category {
  padding-top: 190px;
  padding-bottom: 140px;
}

.content-area__title {
  margin-bottom: 55px;
}
