.group-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.group-list__item {
  max-width: 250px;
  margin-bottom: 60px;
  margin-right: 25px;
  background-color: #ffffff;
  padding: 25px;
  border-left: 15px solid #f2f2f2;
  border-top: 15px solid #f2f2f2;
}

.group-list__link {
  text-decoration: none;
}

.group-list__picture {
  max-width: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.group-list__title {
  max-width: 100%;
  margin: 0;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  line-height: 130%;
}
