.inner-page .first-screen {
  padding: 55px 0 105px;
  background-color: #1e1e1e;
  background-image: url(../img/bg/our-services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.inner-page--details .first-screen {
  background-image: url(../img/bg/our-services-details.jpg);
}

.inner-page .first-screen__title {
  margin: 0;
}

.inner-page .product-tabs {
  padding-top: 45px;
}

.inner-page .product-tabs__title {
  font-size: 0;
  line-height: 0;
}

.inner-page--details .content {
  position: relative;
}

.inner-page--details .content::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  left: -20%;
  top: 0;
  z-index: -1;
}

.inner-page--details .content__text {
  padding: 5px 160px 40px 0;
}
