.inner-page .first-screen {
  padding: 55px 0 105px;
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.inner-page .first-screen__title {
  margin: 0;
}

.inner-page .product-tabs {
  padding-top: 45px;
}

.inner-page .product-tabs__title {
  font-size: 0;
  line-height: 0;
}

.inner-page--details .content {
  position: relative;
}

.inner-page--details .content::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  left: -20%;
  top: 0;
  z-index: -1;
}

.inner-page--details .content__text {
  padding: 5px 160px 40px 0;
}

.inner-page--contacts {
  background-color: #f0f0f0;
}

.inner-page--contacts .first-screen {
  background-image: none;
  background-color: #f0f0f0;
  color: #000000;
  padding-bottom: 30px;
}

.inner-page--contacts .first-screen__title {
  color: #000000;
}

.inner-page--contacts .breadcrumbs__link {
  color: #000000;
}

/* Технологии  */
.inner-page--tehnology .content {
  background-color: #f0f0f0;
  padding: 60px 0 80px;
}

.inner-page--tehnology .content__text {
  margin-bottom: 70px;
}

.inner-page--tehnology .articles::before {
  display: none;
}

.inner-page--tehnology .articles__list {
  margin-top: -155px;
}

.inner-page--tehnology .announcement {
  max-width: 285px;
}

.inner-page--tehnology .announcement__title {
  padding-bottom: 40px;
  margin-bottom: 0;
}

.inner-page--tehnology .articles {
  padding-bottom: 50px;
}

.inner-page--tehnology .service-card__button {
  margin-bottom: 60px;
}

.inner-page--tehnology .service-card::after {
  height: 100%;
  top: 0;
}

.inner-page--tehnology .service-card--light {
  background-color: #ffffff;
  margin-bottom: 95px;
  border: 4px solid #484646;
}

.inner-page--tehnology .service-card--light::after {
  display: none;
}

.inner-page--tehnology .service-card__text {
  padding-right: 50px;
}

.inner-page--tehnology .service-card__text {
  margin-top: 0;
}

.inner-page--tehnology .service-card__title {
  margin-bottom: 25px;
}

/* Страница каталога  */
.inner-page--catalog .first-screen {
  background-image: url("../img/bg/catalog.jpg");
}

.inner-page--catalog .first-screen__title {
  margin-bottom: 45px;
}

/* о окмпании  */
.inner-page--about .first-screen {
  background-image: url("../img/bg/about-comp.jpg");
  background-position: bottom !important;
}

/* Карточка товара */
.inner-page--catalog-item .first-screen {
  background-image: none;
  background-color: #f0f0f0;
  color: #000000;
  padding: 55px 0;
}

.inner-page--catalog-item .first-screen__title {
  color: #000000;
}
