.inner-page .first-screen {
  padding: 55px 0 105px;
  background-color: #1e1e1e;
  background-image: url(../img/bg/our-services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.inner-page .first-screen__title {
  margin: 0;
}

.inner-page .product-tabs {
  padding-top: 45px;
}

.inner-page .product-tabs__title {
  font-size: 0;
  line-height: 0;
}
