.main-form {
  padding: 50px 0 120px;
}

.main-form__wrapper {
  background-color: #ffffff;
  padding: 50px 60px 100px;
}

.main-form__title {
  margin-bottom: 20px;
}

.main-form__items-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 320px;
}

.main-form__item {
  max-width: 475px;
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.main-form__label {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  max-width: 235px;
}

.main-form__field {
  width: 100%;
  padding: 15px 20px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.main-form__button {
  border: none;
  max-width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
}
