.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 50;
}

.modal__show {
  display: flex;
}

.modal__fade {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba($white, 0.9);
  z-index: 40;
}
