.navigation-sublist {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  max-width: 100%;
  z-index: 5;
  left: 0;
  margin: 0;
  padding: 20px 60px 36px;
  box-shadow: inset 0px 2px 17px 0 rgba(0, 0, 0, 0.16);
}

.navigation-sublist {
  display: none;
}

.navigation-sublist__content {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-sublist__item {
  max-width: 420px;
  width: 100%;
  margin-right: 30px;
}

.navigation-sublist__link {
  text-decoration: none;
  position: relative;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  color: #000000;
}

.navigation-sublist__link:hover,
.navigation-sublist__link:active,
.navigation-sublist__link:focus-within {
  color: #000000;
  background-color: #d0d0d0;
}

.navigation-sublist--two .navigation-sublist__link:hover,
.navigation-sublist--two .navigation-sublist__link:active,
.navigation-sublist--two .navigation-sublist__link:focus-within,
.navigation-sublist--two .navigation-sublist__link:focus {
  color: #d4af5e;
}

.navigation-sublist--two {
  padding: 40px 0 45px;
}

.navigation-sublist--two .navigation-sublist__content {
  justify-content: space-between;
}

.navigation-sublist--two .navigation-sublist__item {
  max-width: 250px;
  margin-right: 0;
}

.navigation-sublist--two .navigation-sublist__link {
  flex-direction: column;
  padding: 0;
}

.navigation-sublist__image {
  max-width: 120px;
}

.navigation-sublist--two .navigation-sublist__image {
  max-width: 100%;
  width: 100%;
  height: 165px;
  object-fit: cover;
  margin-bottom: 30px;
}

.navigation-sublist__title {
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  max-width: 200px;
}

.navigation-sublist--two .navigation-sublist__title {
  max-width: 100%;
  width: 100%;
  text-align: left;
  margin-left: 0;
  margin-top: 0;
}

.navigation-sublist--two .navigation-sublist__link:hover,
.navigation-sublist--two .navigation-sublist__link:active,
.navigation-sublist--two .navigation-sublist__link:focus-within {
  background-color: transparent;
}
