.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  max-width: 200px;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.navigation__link--active {
  color: #d4af5e;
}

.navigation__link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 4px;
  background-color: #d4af5e;
  transition: all 0.3s ease-in-out;
}

.navigation__link:hover::before {
  width: 100%;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: #d4af5e;
}

.navigation__link:hover::after,
.navigation__link:focus::after,
.navigation__link:active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #d4af5e;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.navigation__item--sub:hover .navigation__link--sub,
.navigation__item--sub:focus .navigation__link--sub,
.navigation__item--sub:active .navigation__link--sub {
  background-color: #d4af5e;
  color: #000000;
}

.navigation__item--sub:hover .navigation__link--sub::after,
.navigation__item--sub:focus .navigation__link--sub::after,
.navigation__item--sub:active .navigation__link--sub::after {
  display: none;
}

.navigation__item--sub:hover .navigation-sublist,
.navigation__item--sub:focus .navigation-sublist,
.navigation__item--sub:active .navigation-sublist {
  display: block;
}
