.page {
  min-width: 320px;
  height: 100%;

  @include main-font;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  max-width: 100%;
  background-color: $white;
  min-height: 100%;
  margin: 0;
  color: $black;
}

.page__body *,
.page__body *::before,
.page__body *::after {
  box-sizing: border-box;
}
