.promo-lead {
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  padding-bottom: 75px;
}

.promo-lead__wrapper {
  max-width: 400px;
  width: 100%;
}

.promo-lead__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 40px;
}

.promo-lead__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
}

.promo-lead__text {
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 70px;
}

.promo-lead__button {
  max-width: 195px;
  margin: 0;
  margin-bottom: 75px;
}

.promo-lead__picture {
  max-width: 860px;

}
