.service-card {
  max-width: 475px;
  margin-left: 65px;
  margin-bottom: 95px;
  position: relative;
  z-index: 2;
}

.service-card::after {
  content: "";
  display: block;
  height: 85%;
  width: 540px;
  background-color: #ffffff;
  position: absolute;
  top: 33%;
  right: 0;
  z-index: -2;
}

.service-card__link {
  color: #000000;
  text-decoration: none;
}

.service-card__link:hover,
.service-card__link:active,
.service-card__link:focus {
  color: #d4af5e;
}

.service-card__image {
  margin-bottom: 25px;
}

.service-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  max-width: 300px;
}

.service-card__button {
  max-width: 370px;
}

.service-card--light {

  margin: 0;
  padding: 50px;
}

.service-card--light::after {
  top: 0;
  height: 96%;
}

.service-card__title--big {
  font-weight: 800;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 30px;
  text-transform: none;
}
