.social__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 31px;
  }
}

.social__link {
  display: flex;
  color: $black;

  &:hover {
    color: $ligth-tiffany;
  }

  &:active {
    color: $ligth-tiffany;
    opacity: 0.3;
    outline: none;
  }
}

.social {
  margin: 0 auto;
  padding: 24px 0 21px;
  list-style: none;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
