.tabs {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tabs::before {
  content: "";
  position: absolute;
  width: 125%;
  height: 115%;
  background-color: #f0f0f0;
  display: block;
  top: -57px;
  right: -20%;
  z-index: 0;
}

.tabs__list {
  position: relative;
  z-index: 2;
  max-width: 210px;
  margin: 0;
  list-style: none;
  padding: 0;
  margin-left: 35px;
}

.tabs__content {
  position: relative;
  z-index: 2;
  max-width: 730px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -112px;
}

.tabs-list__item {
  margin-bottom: 25px;
}

.tabs__link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
  display: flex;
  align-items: center;
  max-width: 270px;
  padding: 20px 0;
  padding-left: 90px;
}

.tabs__link--active {
  color: #d4af5e;
}

.tabs__link--active .tabs__icon {
  fill: #d4af5e;
}

.tabs__icon-wrapper {
  margin-right: 20px;
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs__icon {
  position: absolute;
}

.tabs__sub-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
