.video {
  margin: 0 $wrap 58px;
  border: 1px solid $ligther-grey;

  @include center-x;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-only) {
    &:hover {
      box-shadow: 0 6px 10px rgba($black, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba($black, 0.1);
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    padding: 0;
    margin-left: $wrap-tablet;
    margin-right: $wrap-tablet;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(3, min-content);
    padding: 0;
    margin-left: $wrap-desktop;
    margin-right: $wrap-desktop-right;
    margin-bottom: 82px;
  }
}

.video__video {
  width: 100%;
  min-height: 150px;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  position: relative;

  & picture {
    grid-column: 1;
    grid-row: 1;
  }

  @media (min-width: $tablet-width) {
    min-height: 455px;
    grid-column: 1;
    grid-row: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 1/5;
  }
}

.video__border {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 2/5;
    border: 1px solid $ligther-grey;
    padding-bottom: 45px;
    padding-top: 88px;
    margin: 0;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 0 6px 10px rgba($black, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba($black, 0.1);
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 1/5;
    padding-left: 78px;
    padding-top: 170px;
    padding-right: 57px;
    padding-bottom: 59px;
    margin-bottom: 0;
  }
}

.video__title {
  display: flex;
  width: 100%;
  position: relative;
  padding: 22px 13px 27px 91px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 2;
    font-size: 20px;
    padding: 39px 13px 24px 107px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 1;
    padding: 97px 79px 26px;
  }
}

.video__title::before {
  content: "";
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  background-image: url(".././img/icon-video.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 31px;
  left: 34px;
  fill: $tiffany;

  @media (min-width: $tablet-width) {
    top: 31px;
    left: 42px;
  }

  @media (min-width: $desktop-width) {
    top: 42px;
    left: 78px;
  }
}

.video__play {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  z-index: 1;

  &:hover {
    transform: scale(1.2);
  }

  &:focus {
    transform: scale(0.8);
    opacity: 0.7;
    outline: none;
  }
}

.video__img {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  align-self: stretch;
  display: block;
  background-color: $backgrey;
  background-image: url(".././img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url(".././img/video-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url(".././img/video-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(".././img/video-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url(".././img/video-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url(".././img/video-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

.video__desc {
  margin: 0;
  padding: 35px 0 41px 34px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 3;
    padding: 0 10px 40px 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2;
    padding: 0 0 52px 0;
  }
}

.video__button {
  max-width: 100%;
  margin: 0 34px;
  padding: 18px 11px 14px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $greyish-black;
  background-color: $white;
  border: 2px solid $greyish-black;
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/5;
    grid-row: 4;
    margin: 0 42px;
    padding: 17px 11px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}

.video__title-text {
  max-width: 100px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 100px;
  }
}
