.advantages {
  margin-top: -110px;
}

.advantages__list {
  max-width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.advantages__item {
  max-width: 280px;
  min-height: 370px;
}
