.first-screen {
  background-color: #1e1e1e;
  background-image: url("../img/bg/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 65px 0 140px;
}

.first-screen--our-serv {
  background-image: url("../img/bg/our-services-details.jpg");
}

.first-screen--serv-all {
  background-image: url("../img/bg/our-services.jpg");
}

.first-screen--tehnology {
  background-image: url("../img/bg/tehnology.jpg");
}

.first-screen__title {
  font-size: 54px;
  color: #ffffff;
  max-width: 870px;
}

.first-screen__title--black {
  color: #000000;
}

.first-screen__title span {
  color: #d4af5e;
}


