.footer__top {
  background-color: #484646;
  color: #ffffff;
  padding: 77px 0 0;
}

.copyright {
  background-color: #3d3d3d;
  color: #ffffff;
  padding: 35px 0 45px;
}

.column-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-group__head {
  max-width: 250px;
}

.footer-head__logo-wrapper {
  margin: 0;
}

.footer-head__logo {
  margin-bottom: 21px;
}

.footer-head__description {
  margin: 0;
  max-width: 255px;
  font-size: 12px;
  line-height: 140%;
  margin-bottom: 40px;
}

.footer__social {
  margin-bottom: 120px;
}

.links-group__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-group__item {
  margin-bottom: 18px;
}

.links-group_link {
  color: inherit;
  text-decoration: none;
}

.links-group_link:hover,
.links-group_link:active,
.links-group_link:focus {
  color: #d4af5e;
}

.column-group__list {
  max-width: 850px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.column-group__item {
  max-width: 270px;
  width: 100%;
  padding-left: 30px;
}

.links-group__title {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  max-width: 100%;
}

.links-group--special .links-group_link {
  text-decoration: underline;
}

.links-group--special .links-group__item {
  margin-bottom: 20px;
}

.links-group__inner-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links-group {
  margin-bottom: 55px;
}

.copyright__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__content {
  max-width: 820px;
  font-size: 12px;
  line-height: 130%;
}

.copyright__link {
  max-width: 310px;
  color: inherit;
}

.copyright__link a {
  color: #d4af5e;
}
