.services {
  position: relative;
  z-index: 1;
  padding: 45px 0 10px;
}

.services::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 75%;
  top: 27%;
  display: block;
  background-color: #d4af5e;
  z-index: -1;
}

.services__title {
  margin-bottom: 45px;
}

.services__text {
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 55px;
}

.services__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-card {
  max-width: 475px;
  margin-left: 65px;
  margin-bottom: 95px;
  position: relative;
  z-index: 2;
}

.service-card::after {
  content: "";
  display: block;
  height: 90%;
  width: 540px;
  background-color: #ffffff;
  position: absolute;
  top: 25%;
  right: 0;
  z-index: -2;
}

.service-card:hover::after {
  background-color: #f0f0f0;
}

.service-card__link {
  color: #000000;
  text-decoration: none;
}

.service-card__link:hover,
.service-card__link:active,
.service-card__link:focus {
  color: #d4af5e;
}

.service-card__image {
  margin-bottom: 25px;
}

.service-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  max-width: 400px;
}

.service-card__text {
  max-width: 400px;
}

.service-card__button {
  max-width: 370px;
}

.service-card--light {
  margin: 0;
  padding: 50px;
}

.service-card--light::after {
  top: 0;
  height: 96%;
}

.service-card__title--big {
  font-weight: 800;
  font-size: 26px;
  line-height: 120%;
  margin-bottom: 30px;
  text-transform: none;
}

.service-card--light form {
  padding: 0;
  padding-right: 50px;
}

