@media (max-width: 1080px) {
  .menu-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__link {
    padding-top: 0;
    font-weight: 600;
    border-bottom: 2px solid #d4af5e;
    padding-bottom: 3px;
  }

  .search__input {
    display: none;
  }

  .search__button {
    background-color: transparent;
  }

  .header__search {
    max-width: 45px;
    margin-right: 0;
    margin-left: auto;
  }

  .search__button::after {
    content: url(../img/icons/search--wh.svg);
  }

  .header__widgets {
    max-width: 190px;
  }

  .navigation {
    flex-direction: column;
    margin-bottom: 25px;
  }

  .navigation__item--sub:hover .navigation__link--sub,
  .navigation__item--sub:focus-within .navigation__link--sub,
  .navigation__item--sub:active .navigation__link--sub {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation__link {
    padding: 15px 30px;
  }

  .navigation__link--sub {
    position: relative;
  }

  .navigation__link--sub::after {
    content: url("../img/icons/arrow-right.svg");
    position: absolute;
    right: 5px;
  }

  .navigation__link:hover::after,
  .navigation__link:focus::after,
  .navigation__link:active::after,
  .navigation__link:focus-within::after {
    display: none;
  }

  .navigation-sublist__content {
    flex-direction: column;
  }

  .navigation-sublist__item {
    max-width: 100%;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .navigation-sublist__link:hover,
  .navigation-sublist__link:active,
  .navigation-sublist__link:focus-within {
    background-color: transparent;
  }

  .navigation-sublist__image {
    display: none;
  }

  .navigation-sublist__title {
    margin: 0;
  }

  .navigation-sublist {
    padding: 0;
    position: inherit;
    display: none;
    box-shadow: none;
  }

  .navigation-sublist__item:hover .navigation-sublist {
    display: flex;
  }

  .header__bottom .header__links {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .header__bottom .header__link {
    margin-bottom: 20px;
  }

  .header__bottom .social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .header__social {
    display: none;
  }

  .header__logo {
    position: absolute;
    top: 10px;
  }

  .header__middle .header__links {
    display: none;
  }

  .header__top {
    padding: 5px 0;
  }

  .title {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 5%;
  }

  .advantages__item {
    max-width: 35%;
    margin: 0;
    padding: 30px;
    min-height: 240px;
  }

  .benefit-card__image {
    display: none;
  }

  .advantages {
    padding: 60px 0;
  }

  .advantages__list {
    padding-bottom: 0;
    align-items: start;
  }

  .catalog-promo {
    padding: 60px 0;
  }

  .product-tabs {
    display: none;
  }

  .choose-us__item {
    max-width: 300px;
  }

  .services__title {
    margin-bottom: 10px;
  }

  .services__text {
    margin-bottom: 25px;
  }

  .services::after {
    display: none;
  }

  .service-card::after {
    display: none;
  }

  .service-card {
    max-width: 350px;
    margin: 0;
    margin-bottom: 55px;
    margin-right: 25px;
  }

  .services__list {
    justify-content: start;
  }

  .service-card__image {
    margin-bottom: 10px;
  }

  .service-card__title {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
  }

  .articles::before {
    display: none;
  }

  .announcement__link::after {
    display: none;
  }

  .announcement__text {
    background-color: transparent;
  }

  .announcement {
    max-width: 30%;
    margin-left: 0;
    margin-bottom: 25px;
  }

  .announcement__image {
    margin-bottom: 10px;
  }

  .articles {
    padding-bottom: 45px;
  }

  .reviews {
    display: none;
  }

  .footer__top {
    padding: 35px 0 0;
  }

  .column-group__head {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-head__logo-wrapper {
    padding-right: 25px;
    max-width: 200px;
    width: 100%;
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .footer-head__description {
    display: none;
  }

  .footer__social {
    display: none;
  }

  .footer-head .links-group {
    margin-bottom: 0;
    max-width: 660px;
    width: 100%;
  }

  .footer-head .links-group__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .column-group {
    flex-direction: column-reverse;
  }

  .footer-head .links-group--special .links-group__item {
    margin-bottom: 10px;
    padding-right: 10px;
  }

  .footer-head__logo {
    margin-bottom: 0;
  }

  .column-group__list {
    max-width: 100%;
  }

  .column-group__item {
    max-width: 30%;
    padding-left: 0;
  }

  .copyright {
    padding: 25px 10px;
  }

  .copyright__content {
    margin-bottom: 20px;
  }

  .header__middle .header__wrapper {
    padding: 0;
  }

  .header__bottom {
    display: none;
  }

  .show-nawigation {
    display: block;
  }
}
