html {
  box-sizing: border-box;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 120%;
  font-style: normal;
}

.tabs__item {
  display: none;
}

.tabs__item--active {
  display: block;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
}

.main {
  overflow: hidden;
}

.title {
  color: #000000;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 80px;
}
